/* styleSheets/Poster.module.css */

.container {
  max-width: 800px; /* Limite la largeur pour éviter un étirement excessif */
  margin: 0 auto; /* Centre horizontalement */
  padding: 20px;
}

.mediaSection {
  margin-bottom: 10px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 2px #f4f4f4;
  border-radius: 0.2rem;
}

.container h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.container p {
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.imageContainer img {
  width: 100px;
  border: 1px solid #ccc;
}

.imageDetails {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detailsButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: #ccc;
  color: rgb(43, 43, 43);
  padding: 0.5rem;
}

.detailsButton:hover {
  color: #e60023;
}

.addImageBtn {
  cursor: pointer;
  background-color: #067790;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.addImageBtn:hover {
  background-color: #0c849f;
}

.detailSection {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 0.2rem;
  padding: 1rem;
  box-shadow: 0px 0px 1px 2px #f4f4f4;
}

.detailSection h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.inputField {
  background-color: #fdfdfd;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Assure que le padding n'ajoute pas à la largeur */
}

.textareaField {
  background-color: #fdfdfd;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: none; /* Permet le redimensionnement vertical */
  box-sizing: border-box; /* Assure que le padding n'ajoute pas à la largeur */
}

.tagList {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tag {
  background-color: #e4e4e4;
  padding: 0.3rem;

  margin-bottom: 10px;
  font-weight: bold;
}

.tag button {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  position: relative;

  font-family: 1em;
}

.categoriesContainer {
  display: flex;
  margin-bottom: 20px;
}

.categoriesContainer button {
  cursor: pointer;
  background-color: #067790;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.categoriesContainer button:hover {
  background-color: #0c849f;
}

.buttonsContainer {
  margin-top: 20px;
  text-align: right;
}

.buttonsContainer button {
  cursor: pointer;
  background-color: #067790;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin-left: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonsContainer button:hover {
  background-color: #0c849f;
}

@media (prefers-color-scheme: dark) {
  /* 0abab5 */
  .mediaSection {
    padding: 1rem;
    background-color: #2d2d2d;
    box-shadow: 0.3px 0.3px 5px #000000;
    border-radius: 0.2rem;
  }

  .imageDetails {
    background-color: #2d2d2d;
    padding: 5px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .detailSection {
    background-color: #2d2d2d;
    box-shadow: 0.3px 0.3px 5px #000000;
    border-radius: 0.2rem;
    padding: 1rem;
  }

  .inputField {
    background-color: #202020;
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
  }

  .textareaField {
    background-color: #202020;
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
  }

  .tag {
    color: #0c849f;
  }
  .addImageBtn,
  .categoriesContainer button,
  .buttonsContainer button {
    background-color: #0abab5;
  }
}

/* Styles spécifiques pour les appareils mobiles */
@media only screen and (max-width: 600px) {
  .container {
    margin-bottom: 3rem;
  }

  .categoriesContainer button {
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }


}
