.container {
    padding: 20px;
    font-family: Arial, sans-serif;

    border: 1px solid #ddd;
    border-radius: 8px;
}

.heading {
    font-size: 24px;
   
    margin-bottom: 16px;
}

.container h2 {
    font-size: 20px;
    
    margin-top: 20px;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    
    line-height: 1.6;
    margin-bottom: 10px;
}

.container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.update {
    font-size: 14px;
  
    margin-top: 20px;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    .container {
   
        
        border: 1px solid rgb(56, 56, 56);
       
    
    }
 
    
}